@model string

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h3>User1 = @ViewBag.User1</h3>
    <h3>User2 = @ViewData["User2"]</h3>
    <h3>User3 = @TempData["User3"]</h3>
    <h3>User4 = @Context.Session.GetString("User4")</h3>
    <h3>User5 = @Model</h3>
</div>
